:root {
  --gris-oscuro: rgb(182, 182, 182);
  --gris-claro: rgb(210, 210, 210);
  --padding-left: 40px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  /*border: solid 1px red !important;*/
}

base,
basefont,
datalist,
head,
meta,
noembed,
param,
script,
style,
template,
title {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  background: linear-gradient(to right, var(--gris-claro), var(--gris-oscuro));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contenido {
  background-color: #f8f8f8;
  border-radius: 20px;
  width: 1024px;
  margin: 80px auto;
  padding: 25px;
  border: solid 1px rgb(187, 187, 187) !important;
}

.grilla {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  position: relative;
}

.fila {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.nav {
  -webkit-box-flex: 0;
  flex: 0 0 25%;
  max-width: 240px;
  height: 100%;
}

.columna {
  -webkit-box-flex: 1;
  flex: 1 0 0;
  max-width: 100%;
  height: 100%;
}

.perfil {
  position: relative;
  padding: var(--padding-left) 0;
}

.avatar img {
  position: relative;
  width: 120px;
}

.avatar {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 15px;
}

.redondo {
  border-radius: 50%;
  overflow: hidden;
}

.sombra {
  box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.2);
}

.insignia {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  border-radius: 0.45rem;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  -webkit-transform: translateY(-50%) translateX(50%);
  transform: translateY(-50%) translateX(50%);
}

.perfil .insignia {
  top: 45px !important;
  right: 85px !important;
}

.bg-rojo {
  background: linear-gradient(135deg, rgb(255, 100, 100), rgb(212, 0, 0));
  background-repeat: no-repeat;
}

.fg-blanco {
  color: white;
}

.name {
  font-weight: bold;
  text-align: center;
}

.email {
  font-weight: 100;
  color: #bbb !important;
  text-align: center;
}

nav {
  position: relative;
  padding-left: var(--padding-left);
}

.item span {
  display: inline-block;
}

.icon {
  margin: 0.5rem;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-1 {
  margin-bottom: 0.5rem !important;
}

.mb-2 {
  margin-bottom: 1rem !important;
}

.mb-3 {
  margin-bottom: 1.5rem !important;
}

.mb-4 {
  margin-bottom: 2rem !important;
}

.mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: 0.5rem !important;
}

.mt-2 {
  margin-top: 1rem !important;
}

.mt-3 {
  margin-top: 1.5rem !important;
}

.mt-4 {
  margin-top: 2rem !important;
}

.m-0 {
  margin: 0;
}
.m-1 {
  margin: 0.5rem;
}

.m-2 {
  margin: 1rem;
}

.m-3 {
  margin: 1.5rem;
}

.m-4 {
  margin: 2rem;
}

a {
  color: inherit;
}

li:hover a {
  color: rgb(0, 0, 200);
  font-weight: 700;
}

.buscador input {
  display: inline-block;
  border: none;
  background: none;
  margin-left: 0.5rem;
  width: 300px;
  padding: 0;
  min-width: unset;
}

.buscador input:focus {
  outline: none;
}

.buscador::after {
  font-family: "metro" !important;
  display: inline-block;
  content: "\ea0f";
  color: rgb(182, 182, 182);
  cursor: POINTER;
}

.buscador::before {
  font-family: "metro" !important;
  display: inline-block;
  content: "\e986";
  color: rgb(182, 182, 182);
  cursor: POINTER;
}

.buscador {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(200, 200, 200);
  border-radius: 1.5rem;
  padding: 0.8rem;
}

[class^="mif-"]::before,
[class*=" mif-"]::before {
  font-family: "metro" !important;
}

.fg-gris {
  color: gray;
}

.a-la-derecha {
  display: inline-block;
  position: absolute;
  right: 25px;
}

.upgrade {
  position: relative;
  display: inline-block;
  bottom: 0.5rem;
  padding: 0.8rem 2rem;
  border-radius: 1rem;
  font-size: 75%;
  font-weight: 700;
}

.phone {
  background-color: rgb(232, 236, 247);
  position: relative;
  bottom: 0;
  border-radius: 1rem;
  padding: 1rem;
}

h1 {
  font-size: 18px;
  line-height: 36px;
  padding-left: var(--padding-left);
}

.contenedor-imagenes {
  height: 350px;
  overflow-x: scroll;
  width: 780px;
}

.with-out {
  overflow: hidden !important;
}

.anterior,
.siguiente {
  position: relative !important;
  top: 50%;
  z-index: 10;
  padding: 5px;
  background-color: #7b7b7b;
  color: white;
}

.anterior {
  transform: translatey(-50%);
  float: left;
}

.siguiente {
  transform: translatey(50%);
  float: right;
}

.imagenes {
  height: 330px;
  width: max-content;
  position: relative;
  display: grid;
  transition: right 1s ease;
  animation-name: carrusel;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes carrusel {
  0% {
    right: 10px;
  }
  50% {
    right: 880px;
  }
  100% {
    right: 10px;
  }
}

.anterior {
}

.img {
  overflow: hidden;
  border-radius: 15px;
  width: 200px;
  height: 250px;
  margin: 10px;
  background-size: cover;
  background-position: center center;
  -webkit-box-reflect: below -1px linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent);
}

.imagen {
  display: inline-block;
  width: min-content;
  margin: 10px;
}

.load {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.load > span {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 80px;
}

.girando {
  animation-name: gira;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(1, 1, 1, 1);
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.girando:hover {
  animation-direction: reverse;
}

@keyframes gira {
  0% {
    color: #ff0000;
    transform: translateY(-50%) translateX(-50%) rotate(0deg);
    font-size: 80px;
  }
  25% {
    color: #ffff00;
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
    font-size: 100px;
  }
  50% {
    color: #00ffff;
    transform: translateY(-50%) translateX(-50%) rotate(180deg);
    font-size: 80px;
  }
  75% {
    color: #0000ff;
    font-size: 100px;
    transform: translateY(-50%) translateX(-50%) rotate(270deg);
  }
  100% {
    color: #ff0000;
    font-size: 80px;
    transform: translateY(-50%) translateX(-50%) rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .contenido {
    background-color: #00ffff;
    border-radius: 10px;
    width: 668px;
    margin: 40px auto;
    padding: 10px;
  }
}

@media screen and (max-width: 360px) {
  .contenido {
    background-color: #22ff00;
    border-radius: 10px;
    width: 360px;
    margin: 40px auto;
    padding: 10px;
  }

  .fila {
    display: flex;
    flex-direction: column-reverse;
  }
  .nav {
    max-width: unset;
    flex: 0 0 100%;
  }
  nav {
    padding-left: 0;
  }

  .perfil {
    display: none;
  }

  .item {
    display: inline-block;
  }

  .buscador {
    width: 55%;
  }

  .upgrade {
    display: block;
    position: sticky;
    float: left;
    bottom: 50px;
    right: 50px;
  }

  .buscador input {
    width: 75%;
  }

  .a-la-derecha {
    right: 10px;
  }
}

/*html {
  cursor: url("../img/youtube.svg"), auto;
}*/

html::-webkit-scrollbar {
  width: 16px; /* Ancho del scrollbar */
  height: 16px;
}

html::-webkit-scrollbar-thumb {
  background-color: #ff7b00; /* Color del thumb (barra de desplazamiento) */
  border-radius: 8px; /* Bordes redondeados del thumb */
}

.contenedor-imagenes::-webkit-scrollbar {
  width: 12px; /* Ancho del scrollbar */
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: #0f0f0f; /* Color del track (barra de fondo) */
}

.contenedor-imagenes::-webkit-scrollbar-thumb:horizontal {
  background-color: #7b7b7b; /* Color del thumb (barra de desplazamiento) */
  border-radius: 6px; /* Bordes redondeados del thumb */
}

.contenedor-imagenes::-webkit-scrollbar-track:horizontal {
  background-color: #f0f0f0; /* Color del track (barra de fondo) */
  border-radius: 6px; /* Bordes redondeados del thumb */
  box-shadow: inset 0px 0px 15px rgba(1, 1, 1, 0.3);
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

[class^="cell"] {
  padding: 0.5rem;
}

.cell-5 {
  grid-column: span 5;
}

.cell-7 {
  grid-column: span 7;
}

.cell-12 {
  grid-column: span 12;
}

input {
  padding: 0.8rem;
  min-width: CALC(100% - 1.6rem);
}

[type="search"] {
  padding: initial;
  min-width: initial;
}

[type="checkbox"] {
  min-width: fit-content;
  display: inline-block;
}

[type="submit"] {
  min-width: 200px;
  border-radius: 2rem;
}
textarea {
  padding: 0.8rem;
  min-width: CALC(100% - 1.6rem);
}

label {
  display: inline-block;
}

table {
  width: 100%;
  border: dashed 1px #222;
}

td {
  border: dashed 1px #2f2;
}

thead {
  background-color: #ff2;
}

thead tr {
  background-color: #ff2 !important;
}

tfoot {
  background-color: #2ff;
}

tfoot tr {
  background-color: #2ff !important;
}

tr:last-child {
  background-color: #2f9;
}

tr:first-child {
  background-color: #22f;
}

td:nth-child(4) {
  border: dashed 2px #f22;
}

td:nth-child(odd) {
  border: dashed 2px #ddd;
}

tr:nth-last-child(2) {
  background-color: #f22;
}

tr:nth-child(even) {
  background-color: #f09;
}

td:nth-child(3n) {
  font-weight: 700;
}

td:nth-child(n + 4) {
  color: #bbb;
}

.span-row-2 {
  grid-row: span 2;
}

.span-column-2 {
  grid-column: span 2;
}

.trabajos {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 3fr) 4fr;
  grid-template-rows: 5fr 4fr;
  height: 400px;
}

.b-round {
  background-color: #fefefe;
  border-radius: 3rem;
  box-shadow: 8px 8px 15px rgba(10, 10, 10, 0.2);
  width: 100%;
  height: 100%;
}

.squder-100 {
  width: 200px;
  height: 200px;
}

.squder-10 {
  width: 50px;
  height: 50px;
}

.squder-5 {
  width: 25px;
  height: 25px;
}

.round {
  border-radius: 50%;
}

.weekend {
  background-image: url("../img/weekend.jpg");
  background-size: cover;
}

.women-1 {
  background-image: url("../img/woman-1.avif");
  background-size: cover;
  position: relative;
  top: 0;
  left: 20%;
}

.women-2 {
  background-image: url("../img/woman-2.avif");
  background-size: cover;
  position: relative;
  top: -50%;
  left: 20%;
}

.centrado {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-100px, -100px);
}

.bg-orange {
  background-color: #ff8800;
}

.fg-white {
  color: #fff;
}

.play {
  padding: 1em;
  box-shadow: 8px 8px 15px rgba(10, 10, 10, 0.2);
  left: 50%;
  top: -35px;
  transform: translate(-25px, 0);
}

.play::before {
  font-size: 1.2rem;
}

#cross {
  right: 10px;
  top: 10px;
  cursor: pointer;
}

ul {
  transition: height 1s ease;
}

.submenu {
  position: fixed;
  left: 50px;
  top: 50px;
  background-color: #ddd;
  
}

.whatsapp {
  position: fixed !important;
  bottom: 50px;
  right: 50px;
  font-size: xx-large;
  background-color: #22ff00;
  color: #ddd;
  border-radius: 50%;
  z-index: 100;
}
